<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
        <property name="dialect" value="h2"/>
    </properties>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useActualParamName" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.demo.model" />
    </typeAliases>
<!--    <typeHandlers>-->
<!--        <typeHandler handler="org.joyqueue.repository.mybatis.handler.MapTypeHandler"/>-->
<!--    </typeHandlers>-->
<!--    <plugins>-->
<!--        <plugin interceptor="org.joyqueue.repository.mybatis.interceptor.PageStatementInterceptor"/>-->
<!--        <plugin interceptor="org.joyqueue.repository.mybatis.interceptor.PageResultInterceptor"/>-->
<!--    </plugins>-->

</configuration>
